.country-info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 1;
}

.country-facts {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 2rem;
}

.country-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  /* margin-top: 3rem; */
  font-size: 0.875rem;
}

.country-data {
  text-align: left;
  font-size: 13px;
}
