.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: left;
  padding: 1rem;
  color: rgb(10, 75, 116);
}

.ip-detail {
  border: 1px solid rgb(135, 135, 135);
  border-radius: 1rem;
  min-width: 40%;
  text-align: center;
  align-self: center;
  position: absolute;
  top: 2rem;
  background-color: #fff;
  z-index: 5;
}

.ip-facts {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  max-height: 4rem;
  text-align: left;
}

.ip-facts li {
  margin-right: 4rem;
  list-style: none;
}
